<!-- views/home.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beeter!</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/fontawesome.js"></script>
    <script defer src="/js/beet.js"></script>
  </head>
  <body>
  <header>
      <%- include('partials/header', {user: user}); %>
  </header>
  <section class="section" style="background-color:#e1e6ee;padding:0">
    <div class="container">
        <div class="columns is-gapless">
            <div class="column is-one-quarter">
                <div class="tile is-child box">
                    <p class="title is-size-5"><%= user.name %></p>
                    <p class="subtitle is-size-6"> @<%= user.username %></p>
                    <div class="has-text-danger">
                        <%= error %>
                    </div>
                    <form action="/logout" method="get">
                      <input type="submit" class="button is-info " value="Logout" name="Submit"/>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <article>
                      <div class="content">  
                        <form action="/beets" method="post">
                          <div class="field">
                              <p class="control">
                                <textarea class="textarea" name="content" 
                                placeholder="What's happening?" rows="1" 
                                onfocus="textAreaOnFocus(this)"
                                onblur="textAreaOnBlur(this)"></textarea>
                              </p>
                              <input id="beet_button" type="submit" class="button is-info" 
                              style="display:none" value="Beet" name="Submit"/>
                          </div>
                        </form>
                      </div>
                    </article>
                </div>               
                <div class="tile is-child box" id="beets_div">
                  <% for(var i=0; i<beets.length; i++) {%>
                    <%- include('partials/beet', {beet: beets[i]}); %>
                  <% } %>
                </div>
              </div>
        </div>    
    </div>
  </section>
  <footer>
      <% include partials/footer %>
  </footer>
  </body>
</html>